.transactionHistory {
  width: 100%;
  margin: 20px 20px 0 0;
  background: linear-gradient(
      37deg,
      rgba(0, 224, 217, 1) 0%,
      rgba(254, 103, 90, 1) 50%,
      rgba(91, 133, 239, 1) 100%
    )
    no-repeat;
}

.tableHead {
  background-color: rgba(91, 133, 239, 0.3);
}

.tableRow {
  height: 40px;
  text-align: center;
}

.tableBody > .tableRow:nth-child(even) {
  background-color: rgba(0, 224, 217, 0.3);
}
